/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap'); */

@font-face {
    font-family: DS-DIGI;
    src: url("../font/DS-DIGI.TTF");
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'DS-DIGI', sans-serif;
    /* font-weight: bold; */
    /* font-family: 'Orbitron', sans-serif; */
}


body {
    background: linear-gradient(to right, #000, #41bb83);
    display: flex;
    justify-content: center;
}

.calc {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 90vh;
    width: 96vw;
    max-width: 400px;
    margin: 5vh 2vw;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(20vh, auto) repeat(5, 15vh);
    border: 1px solid #000;
}

.calc > button {
    cursor: pointer;
    font-size: 3rem;
    background-color: #000;
    color: #fff;
}

.calc > button:hover {
    background-color: #fff;
    color: #111;
}

.calc > .operator {
    background-color: #309b6b;
    /* font-size: 3rem; */
}

.calc > .equals {
    background-color: #214937;
}

.calc > .visor {
    grid-column: 1/-1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calc > .visor > .valores-salvos {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.calc > .visor > .valores-digitados {
    color: #fff;
    font-size: 2.5rem;
}

.span-two {
    grid-column: span 2;
}

@media (max-width: 420px) {
    .calc {
        grid-template-columns: repeat(4, 24vw);
        /* margin: 0; */
    }
}

@media (max-height: 300px) {
    .calc > button {
        font-size: 2rem;
    }
}